@import url(./reset.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(50% - 30px, 1280px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  height: 370px;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {

  0%,
  100% {
    background-image: linear-gradient(to right,
        rgba(195, 140, 255, 0.5),
        rgba(255, 140, 195, 0.5),
        rgba(255, 140, 140, 0.5),
        rgba(255, 222, 140, 0.5),
        rgba(255, 255, 140, 0.5));
  }

  25%,
  75% {
    background-image: linear-gradient(to right,
        rgba(255, 255, 140, 0.5),
        rgba(255, 222, 140, 0.5),
        rgba(255, 140, 140, 0.5),
        rgba(255, 140, 195, 0.5),
        rgba(195, 140, 255, 0.5));
  }

  50% {
    background-image: linear-gradient(to right,
        rgba(255, 255, 140, 0.5),
        rgba(255, 222, 140, 0.5),
        rgba(255, 140, 140, 0.5),
        rgba(255, 140, 195, 0.5),
        rgba(195, 140, 255, 0.5));
  }
}


.controls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to right,
      rgba(75, 0, 130, 0.5),
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5));
  animation: colorChange 3s infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Roboto', sans-serif;
}


.info-box {
  background-image: linear-gradient(to right,
      rgba(75, 0, 130, 0.5),
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5));
  animation: colorChange 3s infinite;
  padding: 10px 30px;
  color: #1a1a1a;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: bold;
  color: #fff;

}

h1 {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: bold;
  background-image: linear-gradient(to right,
      rgba(64, 0, 0, 0.5),
      rgba(0, 32, 0, 0.5));

  -webkit-background-clip: text;
  color: transparent;
  display: inline;

}


input[type="text"] {
  font-size: 28px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 15px;
}

button:hover {
  background-color: #CCCCCC;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}

#volumeControl {
  width: 20%;
  position: absolute;
  top: 95%;


}

input[type=range]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right,
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5),
      rgba(255, 255, 0, 0.5),
      rgba(0, 128, 0, 0.5),
      rgba(0, 0, 255, 0.5),
      rgba(75, 0, 130, 0.5),
      rgba(238, 130, 238, 0.5));

  border-radius: 10px;
}

input[type=range]::-moz-range-track {
  background-image: linear-gradient(to right,
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5),
      rgba(255, 255, 0, 0.5),
      rgba(0, 128, 0, 0.5),
      rgba(0, 0, 255, 0.5),
      rgba(75, 0, 130, 0.5),
      rgba(238, 130, 238, 0.5));
  animation: colorChange 3s infinite;
  border-radius: 10px;
}


label {
  top: 90%;
  position: absolute;
  color: #000;
  font-size: 18px;
}

/* container */

.info-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  width: 45%;
  padding: 0 20px;
}

.result-container {
  background: linear-gradient(to right,
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5),
      rgba(255, 255, 0, 0.5),
      rgba(0, 128, 0, 0.5),
      rgba(0, 0, 255, 0.5),
      rgba(75, 0, 130, 0.5),
      rgba(238, 130, 238, 0.5));
  animation: colorChange 3s infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  right: 3%;
  text-align: center;
  line-height: 2.5;
}

.result-container.hidden {
  display: block;
}

.result-container h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: bold;
}

.result-container p {
  font-size: 28px;
  margin-bottom: 10px;
}

.result-container button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}


#startBtn {
  background-image: linear-gradient(to right,
      rgba(75, 0, 130, 0.5),
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5));
  animation: colorChange 3s infinite;
  border: none;
  color: white;
  font-weight: bold;
}

#inputField {
  padding: 4px;
}

#startBtn {
  padding: 10px;
  cursor: pointer;
}

#wordElement {
  padding-left: 20px;
  padding-right: 20px;
}

#restartBtn {
  background-image: linear-gradient(to right,
      rgba(75, 0, 130, 0.5),
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5));
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;

}

#inputField {
  background-image: linear-gradient(to right,
      rgba(75, 0, 130, 0.5),
      rgba(255, 0, 0, 0.5),
      rgba(255, 165, 0, 0.5));
  animation: colorChange 3s infinite;

  color: #fff
}